<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="access_social">
   <!-- <%= link_to 'Войти через Facebook', '/users/auth/facebook?type=guides', class: 'social_bt facebook' %> -->
    <%= link_to 'Войти через Vkontakte', '/users/auth/vkontakte?type=guides', class: 'social_bt vkontakte' %>
    <%= link_to 'Войти через Google', '/users/auth/google_oauth2?type=guides', class: 'social_bt google' %>
  </div>
  <div class="divider"><span>или</span></div>

  <div class="form-group">
    <label>Email</label>
    <%= f.email_field(:email, autofocus: true, class: 'form-control', id: 'email') %>
    <i class="icon_mail_alt"></i>
  </div>

  <div class="form-group">
    <label>Пароль</label>
    <%= f.password_field(:password, autocomplete: "off", class: 'form-control', id: 'password') %>
    <i class="icon_lock_alt"></i>
  </div>

  <div class="clearfix add_bottom_30">
    <div class="checkboxes float-left">
      <label class="container_check">Запомнить меня
        <%= f.check_box(:remember_me) %>
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="float-right mt-1">
      <a id="forgot" href="#">Забыли пароль?</a>
    </div>
  </div>

  <%= f.submit('Войти в Pohodia', class: 'btn_1 rounded full-width add_top_30') %>

  <div class="text-center add_top_10">
    Впервые на Pohodia? <strong><%= link_to 'Зарегистрироваться!', new_guide_registration_path %></strong>
  </div>
<% end %>
