<% provide(:body_class, 'tours-edit') %>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/administrators/dashboard">Консоль</a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to get_value_of_smart_field(@tour_facade.base_object.country, 'title', @current_locale), '#' %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to get_value_of_smart_field(@tour_facade.base_object.region, 'title', @current_locale), '#' %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to get_value_of_smart_field(@tour_facade.base_object.city, 'title', @current_locale), '#' %>
    </li>
    <li class="breadcrumb-item">
      <a href="/administrators/tours">Туры</a>
    </li>
    <li class="breadcrumb-item active"><%= get_value_of_smart_field(@tour_facade.base_object, 'title', @current_locale) %></li>
  </ol>

  <%#= render 'administrators/tours/edit/base_info' %>

  <%= render 'shared/tours/edit/tour',
             tour: @tour,
             url: guides_tour_path %>

  <%= render 'administrators/tours/edit/tour_discussion' %>

  <%= render 'shared/gallery',
             model: @tour,
             url: add_images_guides_tour_path,
             image_url: ->(model, image) { delete_image_guides_tour_path(model, image_id: image.id) } %>

  <%= render 'shared/tours/edit/tour_routes',
             tour: @tour,
             create_route_url: add_tour_route_guides_tour_path,
             update_route_url: update_tour_route_guides_tour_path,
             delete_route_url: ->(tour, route) { delete_tour_route_guides_tour_path(tour, tour_route: route.id) },
             delete_point_url: ->(point, route) { guides_tour_route_tour_route_point_path(point, route.id) } %>

  <%= render 'shared/tours/edit/tour_options',
             tour: @tour,
             create_tour_option_url: add_tour_option_guides_tour_path,
             update_tour_option_url: update_tour_option_guides_tour_path,
             delete_tour_option_url: ->(tour, option) { delete_tour_option_guides_tour_path(tour, option: option) } %>

  <%= render 'shared/tours/edit/tour_prices',
             tour: @tour,
             create_tour_price_url: add_price_item_guides_tour_path,
             update_tour_price_url: update_price_item_guides_tour_path,
             delete_tour_price_url: ->(tour, price_item) { delete_price_item_guides_tour_path(tour, tour_price_item: price_item) } %>

  <%= render 'shared/tours/edit/tour_booking_without_date',
             tour: @tour,
             url: guides_tour_path %>

  <%= render 'shared/tours/edit/reviews',
             tour: @tour %>

  <%#= render 'administrators/tours/edit/gallery' %>
  <%#= render 'administrators/tours/edit/add_tour_route' %>
  <%#= render 'administrators/tours/edit/tour_routes' %>
  <%#= render 'administrators/tours/edit/removed_tour_routes' %>
  <%#= render 'administrators/tours/edit/additional_info' %>
  <%#= render 'administrators/tours/edit/tour_prices' %>
  <%#= render 'administrators/tours/edit/reviews' %>

  <div class="buttons_container">
    <ul>
      <li><%= link_to "Назад", administrators_tours_path, class: 'btn_1 gray small' %></li>
    </ul>
  </div>
</div>