<div class="container-fluid margin_80_0">
  <div class="main_title_2">
    <span><em></em></span>
    <h2><%= I18n.t 'site.pages.main.tours.header' %></h2>
    <p><%= I18n.t 'site.pages.main.tours.subheader' %></p>
  </div>
  <div id="reccomended" class="owl-carousel owl-theme">
    <% @page.tours.each do |tour| %>
      <div class="item">
        <div class="box_grid">
          <figure>
            <% if TourPresence.new(tour, @person).like? %>
              <a href="<%= tour_path(tour) %>" class="wish_bt liked" data-tour_id="<%= tour.id %>"></a>
            <% else %>
              <a href="<%= tour_path(tour) %>" class="wish_bt" data-tour_id="<%= tour.id %>"></a>
            <% end %>
            <a href="<%= tour_path(tour) %>">
              <% if tour.avatar.to_s.size > 4 %>
                <%= image_tag tour.avatar.in_list.to_s, class: 'img-fluid', width: '800', height: '533' %>
              <% else %>
                <%= image_tag 'tour_3.jpg', class: 'img-fluid', width: '800', height: '533' %>
              <% end %>

              <div class="read_more"><span><%= I18n.t 'all_pages.labels.read_more' %></span></div>
            </a>
            <small><%= get_value_of_smart_field(tour.tour_category, 'title', @current_locale) %></small>
          </figure>
          <div class="wrapper">
            <h3>
              <%= link_to get_value_of_smart_field(tour, 'title', @current_locale), tour_path(tour) %></h3>
            <span class="price">
          <%= I18n.t 'site.tours.tour.from' %>
              <strong><%= tour.min_price %> р.
                <% if tour.max_price && tour.max_price != tour.min_price %>
            <%= I18n.t 'site.tours.tour.to' %> <%= tour.max_price %> р.
            <% end %>
          </strong> <%= I18n.t 'site.tours.tour.for_one_person' %></span>
          </div>
          <ul>
            <li> <%= I18n.t 'site.tours.tour.duration_days' %>: <%= tour.route_duration %></li>
            <li>
              <div class="score">
              <span>
<!--                Отлично<em>350 Отзывов</em>-->
              </span>
                <!--              <strong>8.9</strong>-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container">
    <p class="btn_home_align">
      <a href="/tours" class="btn_1 rounded">
        <%= I18n.t 'site.pages.main.tours.show_all_tours' %>
      </a>
    </p>
  </div>
</div>