<% provide(:body_class, 'countries-show') %>

<%= render 'site/shared/wrapper_avatar', large_avatar: @country.base_object.large_avatar.public_page_show.url,
           category_title: get_value_of_smart_field(@country.base_object, 'title', @current_locale) %>

<div class="filters_listing sticky_horizontal wrapper-avatar-breadrumbs">
  <div class="container">
    <ul class="clearfix">
      <li class="links-list">
        <%= link_to (I18n.t 'site.all_pages.labels.main_page'), '/' %> /
        <%= link_to (I18n.t 'site.all_pages.labels.all_countries'), '/countries' %> /
        <%= link_to get_value_of_smart_field(@country.base_object, 'title', @current_locale),
                    country_path(@country.base_object) %>
      </li>
      <li>
        <a class="btn_map popup-content" href="#text-popup"><%= I18n.t 'all_pages.labels.show_in_map' %></a>
      </li>
    </ul>
  </div>
</div>

<div class="container margin_60_35">
  <div class="row">
    <%= render 'site/shared/filter/country_category' %>

    <div class="col-lg-9" id="list_sidebar">
      <div class="isotope-wrapper">
        <% if @tours.size > 0 %>
          <% @tours.each do |tour| %>
            <%= render 'site/shared/tour', tour: tour %>
          <% end %>
        <% else %>
          <p class="bold center text-uppercase"><%= I18n.t 'all_pages.labels.no_records' %></p>
        <% end %>
      </div>

      <%= will_paginate @tours, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<div class="bg_color_1 sub-items-list">
  <div class="container">
    <div class="row model-description">
      <% desc = get_value_of_smart_field(@country.base_object, 'description', @current_locale) %>
      <%= desc.html_safe if desc %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @country.tour_types.each do |tour_type| %>
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="box_grid">
            <figure>
              <a href="<%= tour_type_country_url(@country.base_object, tour_type) %>" title="<%= get_value_of_smart_field(tour_type, 'title', @current_locale) %>">
                <% if tour_type.avatar.url %>
                  <%= image_tag tour_type.avatar.url, class: 'img-fluid', size: '800x533', alt: get_value_of_smart_field(tour_type, 'title', @current_locale), title: get_value_of_smart_field(tour_type, 'title', @current_locale) %>
                <% else %>
                  <%= image_tag 'tour_1.jpg', class: 'img-fluid', size: '800x533', alt: get_value_of_smart_field(tour_type, 'title', @current_locale), title: get_value_of_smart_field(tour_type, 'title', @current_locale) %>
                <% end %>
                <div class="read_more"><span><%= I18n.t 'all_pages.labels.read_more' %></span></div>
              </a>
              <small><%= get_value_of_smart_field(tour_type, 'title', @current_locale) %></small>
            </figure>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container margin_60_35">
    <h3><%= I18n.t 'site.all_pages.labels.country_regions' %></h3>
    <div class="row">
      <% @country.regions.each do |region| %>
        <div class="col-md-3 linklist">
          <a href="<%= region_url(region) %>" title="<%= get_value_of_smart_field(region, 'title', @current_locale) %>">
            <span><%= get_value_of_smart_field(region, 'title', @current_locale) %></span>
          </a>
        </div>
      <% end %>
      <%= will_paginate @country.regions, renderer: BootstrapPagination::Rails, class: 'w-50 p-3' %>
    </div>
  </div>
</div>
