<li>
  <figure>
    <% if booking.tour.avatar.to_s.size > 4 %>
      <%= image_tag booking.tour.avatar.in_list.to_s %>
    <% else %>
      <%= image_tag 'tour_3.jpg' %>
    <% end %>
  </figure>

  <h4><%= booking.tour.title_ru %> <i class="pending">Pending</i></h4>
  <ul class="booking_list">
    <li><strong>Start date</strong> <%= booking.tour_price_item.date_beginning&.to_formatted_s(:long) %></li>
    <li><strong>End date</strong> <%= booking.tour_price_item.date_completion&.to_formatted_s(:long) %></li>
    <li><strong>Booking details</strong> <%= booking.parties %> People</li>
    <li><strong>Client</strong> <%= booking.customer_name %></li>
  </ul>
  <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-envelope"></i> Send Message</a></p>
  <ul class="buttons">
    <li><a href="#0" class="btn_1 gray approve"><i class="fa fa-fw fa-check-circle-o"></i> Approve</a></li>
    <li><a href="#0" class="btn_1 gray delete"><i class="fa fa-fw fa-times-circle-o"></i> Cancel</a></li>
  </ul>
</li>