<section class="hero_in general">
  <% if current_administrator %>
    <div class="admin-links">
      Быстрое редактирование
      <ul>
        <li><%= link_to "#{@country.title_ru} (страна)", edit_administrators_country_path(@country) %></li>
        <li><%= link_to 'Сео страницы страны', seo_data_items_administrators_country_path(@country) %></li>
        <li><%= link_to "#{@region.title_ru} (регион)", edit_administrators_region_path(@region) %></li>
        <li><%= link_to 'Сео страницы региона', seo_data_items_administrators_region_path(@region) %></li>
      </ul>
    </div>
  <% end %>
  <div class="wrapper">
    <div class="container">
      <h1 class="fadeInUp"><span></span>
        <%= link_to @country.title_ru, country_path(@country) %> ->
        <%= link_to @region.title_ru, region_path(@region) %> ->
        <%= link_to 'Гиды', '#' %>
      </h1>
    </div>
  </div>
</section>
<div class="container margin_60_35">
  <div class="row">
    <div class="col-lg-10 center-block">

      <h3>Атрибуты модели</h3>
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Атрибут</th>
          <th>Значение</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Атрибут</th>
          <th>Значение</th>
        </tr>
        </tfoot>
        <tbody>
        <% @region.attributes.each do |attr| %>
          <tr>
            <td>
              <%= attr[0] %>
            </td>
            <td>
              <%= attr[1] %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>