<%= form_with model: @tour, url: administrators_tour_path, local: true do |f| %>
  <div class="box_general padding_bottom">
    <div class="header_box version_2">
      <h2>Основная информация</h2>
      <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Название</label>
          <%= f.text_area :title, class: "form-control", placeholder: "Название", rows: 6 %>
        </div>
      </div>
      <div class="row col-md-8">
        <div class="col-md-6">
          <div class="form-group">
            <label>Тип</label>
            <%= f.select :tour_type_id , @all_tour_types,{include_blank: 'Не выбран'}, {class: 'selectize-one-option'} %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" id="category_select_area">
            <label>Категория</label>
            <%= f.select :tour_category_id , @all_tour_categories,{include_blank: 'Не выбрана'}, {class: 'selectize-one-option'} %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Сложность</label>
            <%= f.select :complexity , [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],{include_blank: 'Не выбрана'}, {class: 'selectize-one-option'} %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Мин. высота м.</label>
                <%= f.text_field :min_height, class: "form-control", placeholder: "метров" %>
              </div>
              <div class="col-md-6">
                <label>Макс. высота м.</label>
                <%= f.text_field :max_height, class: "form-control", placeholder: "метров" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Длина маршрута (м)</label>
            <%= f.text_field :length_of_route, class: "form-control", placeholder: "метров" %>
          </div>
        </div>
      </div>

    </div>
    <!-- /row-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Описание</label>
          <%= f.text_area :description, class: "form-control", placeholder: "Описание", rows: 8 %>
        </div>
      </div>
    </div>
  </div>

  <div class="box_general padding_bottom">
    <div class="header_box version_2">
      <h2>Изображения</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>Основное изображение</h6>
        <small>203px * 130px</small>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <% if @tour.avatar.to_s.size > 3 %>
                <%= image_tag @tour.avatar.page_edit.to_s, class: "main_avatar" %>
              <% else %>
                <%= image_tag "noimage/main.png", class: "main_avatar" %>
              <% end %>
            </div>
          </div>
        </div>
        <%= f.file_field :avatar, class: "btn_1 gray small pull-left" %>
      </div>
      <div class="col-md-6">
        <h6>Широкое изображение</h6>
        <small>603px * 130px</small>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <% if @tour.large_avatar.to_s.size > 3 %>
                <%= image_tag @tour.large_avatar.page_edit.to_s, class: "large_avatar" %>
              <% else %>
                <%= image_tag "noimage/main.png", class: "large_avatar" %>
              <% end %>
            </div>
          </div>
        </div>
        <%= f.file_field :large_avatar, class: "btn_1 gray small pull-left" %>
      </div>
    </div>
  </div>
<% end %>