<%= form_with model: @country, url: administrators_country_path, local: true do |f| %>
  <div class="box_general padding_bottom">
    <div class="header_box version_2">
      <h2>Мета данные страницы гидов</h2>
      <%= f.submit "Обновить", class: "btn_1 small pull-right" %>
    </div>
    <p class="m-bottom5">связка: <b>страна -> гиды</b></p>
    <p class="m-bottom5">Иерархия на сайте: / все страны / <%= @country.title_ru %> / <%= link_to 'гиды', guides_country_path(@country) %></p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Meta title (ru)</label>
          <%= f.text_field :guides_meta_title_ru, class: "form-control", placeholder: "meta title" %>
        </div>
        <div class="form-group">
          <label>Meta description (ru)</label>
          <%= f.text_area :guides_meta_description_ru, class: "form-control", placeholder: "meta description" %>
        </div>
        <div class="form-group">
          <label>Meta keywords (ru)</label>
          <%= f.text_area :guides_meta_keywords_ru, class: "form-control", placeholder: "meta keywords" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Meta title (en)</label>
          <%= f.text_field :guides_meta_title_en, class: "form-control", placeholder: "meta title" %>
        </div>
        <div class="form-group">
          <label>Meta description (en)</label>
          <%= f.text_area :guides_meta_description_en, class: "form-control", placeholder: "meta description" %>
        </div>
        <div class="form-group">
          <label>Meta keywords (en)</label>
          <%= f.text_area :guides_meta_keywords_en, class: "form-control", placeholder: "meta keywords" %>
        </div>
      </div>
    </div>
  </div>
  >
<% end %>